html {
    background-color:#fcfcfc;
}



main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h2 {
   font-size: 2.92rem;
   line-height: 110%;
   margin: 1.46rem 0 1.168rem 0;
}

h3 {
   font-size: 2.28rem;
   line-height: 110%;
   margin: 1.14rem 0 .912rem 0;
}


.header-bar {
    background-color: #e57373;
}

.page-wrap {
    display: flex;
    min-width: 0;
    justify-content: center;
}

.content-wrap {
    display: flex;
    min-width: 0;
    justify-content: center;
    width: 1400px;
}

.animation-content-wrap {
    display: flex;
    align-items: center;
    min-width: 0;
    flex-direction: column;
}

.animation-category-container{
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    padding: 10px;
}

.animation-category-items{
    display: flex;
    min-width: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; 
}

.animation-item-container {
    display: flex;
    min-width: 0;
    align-items: center;
    flex-direction: column;
    max-width: 600px;  
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
}

.animated-item-container {
    width: 100px; 
    height: 100px; 
    border-radius: 100%;
}

.animated-item {
    width: 100px; 
    height: 100px; 
    background-color: #80cbc4; 
    border-radius: 20%;
}

.code-block {
    width: 600px;
    max-width: 100%;
}
