<!DOCTYPE html>
<html>
     <head>
          {% include head.html %}
          {% include js.html %}
     </head>
     <body>
        {% include header.html %}
        <div class="page-wrap">
            <div class="content-wrap">
                <div class="animation-content-wrap">
                    

                    {% for animation_category in site.data.animations.animations %}
                        <div class="animation-category-container">
                            <h2>{{ animation_category.name }}</h2>
                                <div class="animation-category-items">
                                    {% for animation in animation_category.css %}
                                        {% assign path = 'css/' | append: animation_category.folder | append: '/' | append: animation.resource | append: '.css' %}
                                        <div class="animation-item-container "> 
                                            <h3>{{ animation.name }}</h3>
                                            {% if animation.shouldHover == true %}
                                                <div class="animated-item-container"
                                                    onmouseenter="this.children[0].classList.add('{{animation.resource}}')"
                                                    onmouseleave="this.children[0].classList.remove('{{animation.resource}}')">
                                                    <div class="animated infinite animated-item"></div>
                                                </div>
                                                <p>Hover over shape to see animation</p>
                                            {% else %}
                                                <div class="animated infinite {{ animation.resource }} animated-item" ></div>
                                            {% endif %}
                                            <pre class="code-block">
                                                <code >{% include {{ path }} %}</code>
                                            </pre>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>